.TestimonialSecContainer {
    background-color: #00314775;
    background-blend-mode: darken;
    background-image: url('../../../public/detsigerkunderne.jpg');
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;

    /* to make sure it doesn't flow over the app size and to make she it's the correct height */
    overflow: hidden;
    height: 25rem;
}

.TestimonialDivBox {
    max-width: 20rem;
    margin: 0 auto;

    text-align: center;
}

.testimonial_viewport {
    overflow: hidden;
}

.testimonial_container {
    display: flex;

    touch-action: pan-y pinch-zoom;
}

.testimonial_slide {
    flex: 0 0 100%;
    min-width: 0;
}

/* buttons */
.testimonialBtnBox {
    max-width: 8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

}

.testimonial_next,
.testimonial_prev {
    border: 3px solid white;
    border-radius: 5rem;

    padding: 1rem;
    font-weight: 900;
}


/* text styling */
.testmonialTitle {
    line-height: 2rem;
    font-size: 1.8rem;
    font-weight:700;
}

.testimonialContent {
font-size: 1rem;
}

.testmonialName {
    padding: 1rem 0 0 0;
font-size: 1.3rem;
font-weight: bold;

}

.testmonialOccupation {
    font-weight: 100;
    font-size: 0.8rem;
}