.ImageWrapper {
    position: relative;
}

.DetailImage {
    width: 100%;
    display: block;

    height: 30.1rem;
}

.DetailBtnBox {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;


    background-color: #003147;
    padding: 0.5rem 3rem;
    border-radius: 0.5rem;
}

.DetailInfomationCon {
    max-width: 23rem;
    margin: 0 auto;
    max-height: 60rem;

    box-sizing: border-box;
    padding: 1.5rem 0 9rem 0;


}


.DetailDesBox {
    margin: 1rem 0;
}


/* text css */
.DetailTitle {
    font-size: 1.5rem;
    font-weight: 600;
}