
.DetailSec{

}

.DetailDiv{

}

.DetailImage{

}

.DetailInfomationCon{
max-width: 23rem;
margin: 0 auto;
}

.DetailBtnBox{

}
.DetailBtn{

}

.DetailDesBox{

}


/* text css */
.DetailTitle{

}
.DetailMinAge{

}
.DetailDes{

}