@import "tailwindcss";

:root {
  margin: 0;
  color: white;
  background-color: #000000;

}

body{
  max-width: 25.6rem;
  margin: 0 auto;
background-color: #003147;

font-family: "Ubuntu", sans-serif;

}

