.ActivitiesContainer {
    max-width: 23rem;
    margin: 0 auto;

}

.activityBox {
    margin: 1rem 0 2rem 0;

}


/* text css */
h2 {
margin: 1.5rem 0;

    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

p{
    margin-top: 0.5rem;
}

