.newsletterSecContainer {
    max-width: 23rem;
    margin: 0 auto;

    padding: 1rem 0 2rem 0;
}

/* text styling */
.newsletterTitle {
    font-size: 2.2rem;
}


.newsletterFormContainer {
    font-size: 1.1rem;
}


.newsletterForm {
    display: flex;
    justify-content: space-between;

    text-align: center;
    padding: 1rem 0 0 0;

    flex-wrap: wrap;
}


.newsletterInput {
    max-width: 18rem;
    background-color: #E9E9E9;
    color: #999;

    padding: 0 0.5rem;
    width: 100%;
    height: 2.5rem;

      box-sizing: border-box;
}


.newsletterSubminBtn {
    background-color: #E9E9E9;
    padding: 0.5rem 1rem;
    color: #003147;
    border-radius: 0.5rem;

}