.NavligationSec {
    display: flex;
    justify-content: center;

    position: fixed;
    bottom: 0;
 /*    left: 50%;
    transform: translateX(-50%); */
    z-index: 1000;


    width: 100%;
    max-width: 25.6rem;

    background-color: transparent;
}

.NavWrapper {
    width: 100%;
    max-width: 25.6rem;

    background-color: #fff;

}

.NavigationBox {
    display: flex;
    justify-content: space-around;

    align-items: center;

    max-width: 25.6rem;
    padding: 0.5rem 0;
    margin: 0 auto;
}


.NavTextBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* text styling */
.active{
    color: #003147;
}

.link {
    color: #6F6F6F;
}